/* Layout wrapper */

.app-layout{
  display:flex;
}

/* Sidebar */

.sidebar{
  height:100vh;
  width:220px;
  background:#1e1e2f;
  color:white;
  position:fixed;
  left:0;
  top:0;
  padding-top:20px;
}

/* Sidebar links */

.sidebar a{
  color:#cfcfe8;
  text-decoration:none;
  padding:12px 20px;
  display:block;
}

.sidebar a:hover{
  background:#2f2f4a;
  color:white;
}

/* Main content */

.main-content{
  margin-left:220px;
  padding: 80px 50px 50px;
  width:100%;
  min-height:100vh;
}

/* Navbar */

.navbar{
  margin-left:220px;
}

/* Cards */

.card{
  border-radius:12px;
}

.stat-number{
  font-size:24px;
  font-weight:bold;
}

/* Add button */

.add-btn{
  background:linear-gradient(45deg,#ff00cc,#3333ff);
  border:none;
}

.add-btn:hover{
  opacity:.9;
}
